body{
  background-color: #999999;
}
h1{
  color: #ff00ff;
  text-align: center;
}
h2{
  color: #00ff11;
  font-style: italic;
}
p{
  font-style: oblique;
}
ul{
  font-family: fantasy;
  font-weight: bold;
  font-size: 12pt;
  line-height: 2em;
}
