h1{
  color: #ff0000;
  text-align: center;
}
h2{
  color: #00ff00;
  font-style: italic;
}
p{
  font-style: oblique;
}
ul{
  font-family: fantasy;
  font-weight: bold;
  font-size: 12pt;
  line-height: 2em;
}
